pandas==2.1.4
numpy==1.26.4
matplotlib==3.9.0
scikit-learn==1.2.2
SQLAlchemy==2.0.25
psycopg2-binary==2.9.10
motor==3.7.0
pymongo==4.12.0
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.41
langchain-google-genai==2.0.11
langchain-text-splitters==0.3.6
langdetect==1.0.9
langsmith==0.1.147
llama-index-vector-stores-faiss==0.3.0
llama-index==0.12.31
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.1
llama-index-core==0.12.31
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.11
llama-index-llms-openai==0.3.37
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.7
llama-index-readers-llama-parse==0.4.0
llama-index-vector-stores-faiss==0.3.0
llama-parse==0.6.12
faiss-cpu==1.10.0
pydantic==2.10.6
python-dotenv==1.1.0
aiohttp==3.9.3
tenacity==8.5.0
reportlab==4.4.0